*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}
body{
  background: url(icon/mur.jpg);
  background-size: cover;
}
nav{
  background: #000;
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
label.logo span{
  color: #c59d5f;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
  nav a:hover{
  background: #c59d5f;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

#accueil_page {
  margin-top: 60px;
  text-align: center;
}


.container {
  width: 800px;
  margin: 0 auto;
}

.box{
  font-size: 32px;
  margin: 128px auto;
  width: 800px;
  padding: 15px;
}

.app {
  
  width: 190px;
  height: 190px;
  margin: 15px;
  display: inline-block;
}

.app img {
  width: 100%;
}



.plat{
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn_plat{
  
  position: relative;
  left: 50px;
  cursor: pointer;
  text-align: center;
  padding: 7px 30px;
  font-size: 20px;
  text-shadow: 0 -2px 1px #a88652;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  border-top: 5px solid #e0b574;
  border-left: 5px solid #a78553;
  width: 100px;
  background: linear-gradient(#c59d5f 0%, #ad8a54 100%);
  box-shadow: 0 2px 6px rgda(0, 0, 0, .8);  
}

.ligne_2{
  margin-top: 20px;
}

.caisse{
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn_caisse{
  
  position: relative;
  left: 50px;
  cursor: pointer;
  text-align: center;
  padding: 7px 30px;
  font-size: 20px;
  text-shadow: 0 -2px 1px #a88652;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  border-top: 5px solid #e0b574;
  border-left: 5px solid #a78553;
  width: 100px;
  background: linear-gradient(#c59d5f 0%, #ad8a54 100%);
  box-shadow: 0 2px 6px rgda(0, 0, 0, .8);  
}

.ligne_3{
  margin-top: 20px;
}

.bac{
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nb_bac{

  position: relative;
  left: 50px;
  cursor: pointer;
  padding: 7px 30px;
  text-align: center;
  font-size: 15px;
  color: #000;
  font-weight: bold;
  display: inline;
  border: 2px solid #c59d5f;
  width: 130px;
  background: linear-gradient(#fff 0%, #FFF 100%);
  box-shadow: 0 2px 6px rgda(0, 0, 0, .8);  

}

.ligne_4{
  margin-top: 20px;
}

.sauce_poid3{
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.poids_sauce_chiffre{

  position: relative;
  left: 50px;
  cursor: pointer;
  padding: 7px 30px;
  text-align: center;
  font-size: 15px;
  color: #000;
  font-weight: bold;
  display: inline;
  border: 2px solid #c59d5f;
  width: 130px;
  background: linear-gradient(#fff 0%, #FFF 100%);
  box-shadow: 0 2px 6px rgda(0, 0, 0, .8);  

}

.ligne_5{
  margin-top: 20px;
}

.poids_total{
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.poids_total_btn{

  position: relative;
  left: 50px;
  cursor: pointer;
  padding: 7px 30px;
  text-align: center;
  font-size: 15px;
  color: #000;
  font-weight: bold;
  display: inline;
  border: 2px solid #c59d5f;
  width: 130px;
  background: linear-gradient(#fff 0%, #FFF 100%);
  box-shadow: 0 2px 6px rgda(0, 0, 0, .8);  

}

.ligne_6{
  margin-top: 40px;
  text-align: center;
}

#btn_calcul{
cursor:pointer;
width: 200px;
font-size: 20px;
padding: 8px;
color: white;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border: 3px solid #c59d5f;
background-color: rgb(0,0,0,.5);
transition: 0.5s;
}

#btn_calcul:hover{
background-color: rgba(255, 255, 255, 0.5);
color: black;
transition: 0.5s;
}

.ligne_7{
  margin-top: 40px;
  text-align: center;
}

.ligne_8{
  margin-top: 5px;
  text-align: center;
}

.Nb_sauce{
  color: #fff;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 45px;
}

.Nb_sauce_final{
  
  color:#c59d5f;
  font-size: 45px;
}













@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }

  
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(0,0,0,.5);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  nav a:hover,a.active{
    background: none;
    color: #c59d5f;
  }
  #check:checked ~ ul{
    left: 0;
  }
  
  .container{
    width: 100%;
  
  }

  .box{
    margin-top: 10%;
    font-size: 100%;
    width: auto;
    margin-left: 15%;

  }

  .btn_caisse{
    font-size: 15px;
    width: 15%;
    padding: 3%;
    left: 5%;
  }

  .btn_plat{
    font-size: 15px;
    width: 15%;
    padding: 3%;
    left: 5%;
  }

  .nb_bac{
    left: 5%;
  }

  .poids_sauce_chiffre{
    left: 5%;
  }

  .poids_total_btn{
    left: 5%;
  }

  
}



@media (max-width: 550px){
  .app{width: 50%;}
  .app{margin: 4%;}

  .btn_caisse{
    font-size: 10px;
    width: 10%;
   
  }

  .btn_plat{
    font-size: 10px;
    width: 10%;
    
  }
}


